@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&family=Lato:wght@300&display=swap');
@font-face {
  font-family: "Meltdown";
  src: url(./font/alagard.ttf) format('truetype');
}
@font-face {
  font-family: "LogoFont";
  src: url(./font/Infernalda.ttf) format('truetype');
}


.App {
  text-align: left;
  width: 900px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tlogo {
  font-family: "LogoFont";
  text-align: center;
  font-size: 104px;
  color: #ff6700;
  margin-top: -10px;
  text-shadow: 4px 4px #fcc7a2;
  margin-bottom: 20px;
}

.bid-input {
  border-color: #333333;
  box-shadow: #333333 1px 1px 0,
                #333333 2px 2px 0,
                #333333 3px 3px 0;
  margin-bottom: 20px;
}

.tlogo:hover {
  animation: 0.5s sta ease-out both;
}

@keyframes sta {
	0% {
    transform: scaleY(1) translateY(0);
    opacity: 1;
	}
	100% {
    transform: scaleY(1.2) translateY(10px);
    opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.nes-btn {
  min-width: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  font-family: 'Meltdown';
}
.title {
  font-family: 'Meltdown';
  font-size: 30px;
}
.nes-container {
  width: 900px;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "JetBrains Mono",monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header > div {
  align-content: center;
}

.MuiButton-label {
  justify-content: left !important;
}

.MuiButtonBase-root, input, div, text, span {
  font-family: "JetBrains Mono", monospace !important;
}
p {
  font-size: 14px;
}

.convenience-container {
  margin: 15px;
}

.MuiSlider-rail {
  background-color: red !important;
}

.miniViewAuction {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.NFT a {
  color: -webkit-link;
  text-decoration: underline;
}

.divider {
  width:10px;
  height:auto;
  display:inline-block;
}
.ops-button {
  background-color: #4971f5;
  color: white;
  border-style: 'solid';
  border-color: #333333;
  box-shadow: #333333 1px 1px 0,
                #333333 2px 2px 0,
                #333333 3px 3px 0
}
.ops-button:hover {
  background-color: #274bc2;
  color: white;
}

.bidButtons {
  display: flex;
  justify-content: center;
}
.popup-content {
  width: 50%;
  padding: 10px;
  border-color: black;
  border-width: 3px;
}

.bid-button {
  background-color: #4971f5;
  color: white;
  border-style: 'solid';
  border-color: #333333;
  box-shadow: #333333 1px 1px 0,
                #333333 2px 2px 0,
                #333333 3px 3px 0
}

.bid-button:focus{
  outline: none;
}
.bid-button:hover {
  background-color: #274bc2;
}
.bid-button:disabled {
  background-color: lightgrey;
}

.nav-button {
  background-color: #ff6700;
  color: white;
  border-style: 'solid';
  border-color: #333333;
  box-shadow: #333333 1px 1px 0,
                #333333 2px 2px 0,
                #333333 3px 3px 0
}
.nav-button:focus{
  outline: none;
}
.nav-button:hover {
  background-color: #CC5200;
}

.pulse {
  margin: 30px;
  width: 10px;
  height: 10px;
  background-color: #749a02;
  border-radius: 5px;
}
@-webkit-keyframes greenPulse {
  from {
      background-color: #749a02;
      -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: #91bd09;
      -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
      background-color: #749a02;
      -webkit-box-shadow: 0 0 9px #333;
  }
}
div.pulse.green {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes yellowPulse {
  from {
      background-color: #fc9200;
      -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: #ffb515;
      -webkit-box-shadow: 0 0 18px #ffb515;
  }
  to {
      background-color: #fc9200;
      -webkit-box-shadow: 0 0 9px #333;
  }
}
div.pulse.yellow {
  -webkit-animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes redPulse {
  from {
      background-color: #bc330d;
      -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: #e33100;
      -webkit-box-shadow: 0 0 18px #e33100;
  }
  to {
      background-color: #bc330d;
      -webkit-box-shadow: 0 0 9px #333;
  }
}
div.pulse.red {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}